h1 {
    text-align: center;
    background-color: brown;
    color: black;
    
}

* {
    padding: 0px;
    margin: 0px;
}

#menu {
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: burlywood;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: burlywood;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;    
}

.nav > li {
    float: left;
}

.nav li a:hover {
    background-color: gainsboro;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
    
.nav li:hover > ul {
    display: block;
}

#tema1 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    


    
}


#tema2 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
    
}

#tema3 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
    
}

#tema4 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
    
}

#tema5 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

#tema6 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

#tema7 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

#tema8 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

#tema9 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

#tema10 {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.linea-tiempo{
     position: relative;
     width: 500px;
     max-width: 95vw;
     height: 100%;
     font-family: Arial;
     text-align: center;
     padding-left: 40%;
}

.linea {
    position: relative;
    width: 45%;
    box-sizing: border-box;
}

.linea:nth-child(even) {
    left: 55%;
}

.linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #000;
    left: 50%;
    height: 100%;
    border-radius: 10px;
}

.linea::after {
    content: '';
    position: absolute;
    top: calc(50% + 10pc);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
}

.linea :nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
}

.linea h3 {
    margin: 10px 0px;
    font-size: 30px;
    text-align: center;
  }
  .linea .descripcion {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
  }
  .linea .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #eee;
  }
  .linea:nth-child(even) .descripcion {
    background-color: #3393FE;
    color: white;
  }
  .linea:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #3393FE;
    border-left: none;
  }

